<div class="filmmain">
  <div class="filmmainChild">
    <div class="blank"></div>
    <div class="filmTitle">
      {{dispChoosenFilm.title}}
    </div>
    <div class="filmOrigTitle">
      {{dispChoosenFilm.original_title}}
    </div>
    <div class="filmInfo">
      <div class="fInfoA">
        <img width="300" height="432" src="https://image.tmdb.org/t/p/w200/{{dispChoosenFilm.poster_path}}"
          alt="poster">
      </div>
      <div class="fInfoB">
        <div class="fOverview">
          <p>{{dispChoosenFilm.overview}}</p>
        </div>
        <div class="fGenre">
          <p>{{dispChoosenFilmGenre}}</p>
        </div>
        <div class="fDateVote">
          <div class="fDate">
            <p>Release: </p>
          </div>
          <div class="fdis">
            <p>{{dispChoosenFilm.release_date | date}}</p>
          </div>
          <div class="fVote">
            <p>Avg. votes: </p>
          </div>
          <div class="fdis2">
            <p>{{dispChoosenFilm.vote_average}}</p>
          </div>
          <div class="fVote">
            <p>Num. votes: </p>
          </div>
          <div class="fdis">
            <p>{{dispChoosenFilm.vote_count}}</p>
          </div>
        </div>
        <div class="blank"></div>
        <div class="submitAll">
          <div class="submitOrderB">
            <div class="submitCont">
              <button class="subBot" (click)="rentIt()">
                <p>Rent it!</p>
              </button>
            </div>
          </div>
          <div *ngIf="isRent" class="submitDays">
              <div class="butDay">
                <button class="subBotD1" (click)="rentItDays(dispChoosenFilm.id,3)">
                  <p>3 Days</p>
                </button>
              </div>
              <div class="butDay">
                <button class="subBotD2" (click)="rentItDays(dispChoosenFilm.id,6)">
                  <p>6 Days</p>
                </button>
              </div>
              <div class="butDay">
                <button class="subBotD3" (click)="rentItDays(dispChoosenFilm.id,15)">
                  <p>15 Days</p>
                </button>
              </div>
              <div class="butDay">
                <button class="subBotD4" (click)="rentItDays(dispChoosenFilm.id,30)">
                  <p>30 Days</p>
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
