<header>
    <nav class="navigation">
      <a routerLink="/display"
      routerLinkActive="active-link">
        <span>eRental</span>
      </a>
      <a routerLink="/movies/top_rated"
      routerLinkActive="active-link">
        <span>Top Rated</span>
      </a>
     <a routerLink="/login" routerLinkActive="active-link">
        <span>Login</span>
      </a>
      <input type="text" name="" id="" (keyup)="searchMovie($event)">
      <i class="material-icons">
        search
      </i>
    </nav>
  </header>