<header>
  <div class="navegador">

    <div class="logocont">
      <a class="explogo" routerLink="/display" routerLinkActive="active-link">
        <img draggable="false" src="../../../assets/img/logo.png">
      </a>
    </div>

    <div class="logincont">
      <div class="loginreg" *ngIf="userService.isLoginReg">
        <div class="loginclass"><a routerLink="/login" routerLinkActive="active-link">
            login
          </a>
        </div>
        <div class="registerclass"><a routerLink="/register" routerLinkActive="active-link">
            register
          </a>
        </div>
      </div>
      <div class="proflogout" *ngIf="userService.isProfOut">
        <div class="loginclass"><a routerLink="/profile" routerLinkActive="active-link">
            profile
          </a>
        </div>
        <div class="registerclass"><a routerLink="/display" routerLinkActive="active-link" (click)="userService.logoutUser()">
            log out
          </a>
        </div>
      </div>


    </div>
  </div>
</header>
