
.navigation {
    padding: 0.25em;
    display: flex;
    justify-content: space-around;
    background-color: #1e3a58;
    
    color: #26a69a;
    
    a{
      text-decoration: none;
      color: #26a69a;
    }
    .active-link{
      
    }
  }