<header>
    <nav class="navigation">
      <a routerLink="/display"
      routerLinkActive="active-link">
        expRENTAL
      </a>
      <div class="genreSearch">
        <input type="text" name="" id="" (keyup)="searchMovieGenre($event)">
        <i class="material-icons">
          search
        </i>
        </div>
     <a routerLink="/login" routerLinkActive="active-link">
        <span>Login</span>
      </a>
      
      <input type="text" name="" id="" (keyup)="searchMovie($event)">
      
    </nav>
  </header>