

.movies{
    
    display: flex;
    color: black;
    flex-wrap: wrap;
    justify-content: center;
    //width: fit-content;
    align-items: center;
    

    
    .movie{
        
        display: flex;
        flex-direction: row;
        //align-items: center;
        justify-content: center;
        margin: 0.1rem;
        padding: 2.5rem;
        
        h2{
            font-size: 1rem;
        }
        img{
            border-radius:0.2rem;
            width: 175px;
        }
    }
}




.seekers{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.genreseek{
    margin-right: 25px;
}

.titleseek{ 
    margin-left: 25px;
    
}

::placeholder {
    color: white;
    font-style: italic;
    
}

a:hover{
opacity: 1;
}

.find{
    all:unset;
    border: 2px solid rgb(0, 168, 155);
    color: white;
    opacity: 0.6;
    transition: 0.3s;
}

.find:focus{
    opacity: 1;
}