.loginmain {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  align-items: center;
  }
  
.loginmainChild {
  position: relative;
  width: 20%;
  height: 100%;
  background-color: rgb(80, 80, 80);
  border-radius: 25px;
}

.blank {
  height: 8%;
  width: 100%;
}

.loginLogo {
  height: 15%;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.emaildiv {
  width: 100%;
  text-align: center;
}

.passdiv  {
  width: 100%;
  text-align: center;
}

.submitCont {
  height: 10%;
  text-align: center;
}

.errorCage{
  height: 200px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}