
<div class="blankBig"></div>
<div class="profilecont">
    
    <div class="userSide">
        <div class="profilemain">
            <div class="profilemainChild">
              <div class="blank"></div>
              <div class="profileLogo">
                user profile
              </div>
                    <div class="basicCont">
                        <div class="titCont">
                            Username:
                        </div>
                        <div class="basicInp">
                                <input type="text" class="find" name="" id="" disabled placeholder="{{userProShow.username}}">
                        </div>
                    </div>
                    <div class="basicCont">
                        <div class="titCont">
                            E-mail address:
                        </div>
                        <div class="basicInp">
                                <input type="text" class="find" name="" id="" disabled placeholder="{{userProShow.email}}">
                        </div>
                    </div>
                    <div class="basicCont">
                        <div class="titCont">
                            Phone:
                        </div>
                        <div class="basicInp">
                                <input type="text" class="find" name="" id="" placeholder="{{userProShow.phone}}">
                        </div>
                    </div>
                    <div class="basicCont">
                        <div class="titCont">
                            Billcard Info:
                        </div>
                        <div class="basicInp">
                                <input type="text" class="find" name="" id="" placeholder="{{userProShow.billcard}}">
                        </div>
                    </div>
                    <div class="basicCont">
                        <div class="titCont">
                            Password:
                        </div>
                        <div class="basicInp">
                                <input type="text" class="find" name="" id="" disabled placeholder="{{userProShow.password}}">
                        </div>
                    </div>
              </div>
            </div>
          </div>
          <!-- <div class="errorCage">
            {{errorMsg}}
          </div> -->
          
    
    <div class="ordersSide">
        <div class="profilemain">
            <div class="profilemainChild">
              <div class="blank"></div>
              <div class="profileLogo">
                user order history
              </div>
              
             
              
            </div>
          </div>
    </div>
</div>