


body{
    margin:0;
    color:white;
    //background-color: rgb(136, 136, 136);
    background-color: #1B2530;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }
